{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h2>About Maddy!</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Majors</th>
        <th scope="col">Minors</th>
        <th scope="col">Cities Lived In</th>
        <th scope="col">Class Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Health: Science, Society, and Policy</td>
        <td>Computer Science</td>
        <td>West Hartford, CT</td>
        <td>2022</td>
      </tr>
      <tr>
        <td></td>
        <td>Creative Writing</td>
        <td>Clinton, CT</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Waltham, MA</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <img src="/static/maddypicture.jpg" alt="maddy" class="img-thumbnail rounded mx-auto d-block" width="400" height="400">

{% endblock %}
