{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h2>About Kayla!</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Majors</th>
        <th scope="col">Minors</th>
        <th scope="col">Cities Lived In</th>
        <th scope="col">Class Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sociology</td>
        <td>NEJS</td>
        <td>Bellevue, WA</td>
        <td>2022</td>
      </tr>
      <tr>
        <td>Education Studies</td>
        <td></td>
        <td>Waltham, MA</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <img src="/static/kaylapicture.jpg" alt="kayla" class="img-thumbnail rounded mx-auto d-block" width="600" height="300">

{% endblock %}
