{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Currency Converter</h1>
  </div>
  <h2>Convert your currency!</h2>
  <br>
  <form method="post" action="/results">
    <h4>What is the country of your currency? <input type="text" name="current_currency"></h4>
    <br>
    <h4>How much of the currency do you have? <input type="text" name="current_amount"></h4>
    <br>
    <h4>What country's currency would you like to convert it to? <input type="text" name="goal_currency"></h4>
    <br>
    <input type="submit" class="btn btn-lg btn-info">
  </form>
  <br>
  <br>
  <br>
{% endblock %}
