{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h2>Currency Converter</h2>
  </div>
  <h4>Convert your currency!</h4>
  <form method="post" action="/results">
    What is the country of your currency? <input type="text" name="current_currency">
    <br>
    How much of the currency do you have? <input type="text" name="current_amount">
    <br>
    What country's currency would you like to convert it to? <input type="text" name="goal_currency">
    <input type="submit" class="btn btn-lg btn-danger">
  </form>

{% endblock %}
